.interna {
    margin: 0 auto;
    width: 50%; /* Valor da Largura */
    align-items: center;

justify-content: center;
    } 

    .titulo {
        margin: 0 auto;
        width: 50%; /* Valor da Largura */

        } 

    